
body {
	font-size: 18px;
	font-family: Cambria, serif;
	color: #000000;
	background-color:#9fe0bf;}
h1 {
	font-family: impact, sans-serif;
	font-size: 65px;
	color: #194d33;
	background-color:#9fe0bf;
	text-align: center;
	}
h2 {
	font-family: Kino MT, serif;
	font-size: 50px;
	color: #ff884d;
	background-color:#9fe0bf;
	}
.nav ul {
	background-color: #339966;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;}
.nav li {
	float: left;
	font-size: 18px;}
.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
.nav li a:hover{ 
	background-color: #194d33;
	color: white;}
.nav .active {
    background-color: #194d33;
.timeline ul {
	list-style-type: none;}
    

	