
body {
	font-size: 14px;
	font-family: Cambria, serif;
	color: #000000;
	background-color:#9fe0bf;}
h1 {
	font-family: impact, sans-serif;
	font-size: 70px;
	color: #194d33;
	background-color:#9fe0bf;
	text-align: center;
	}
h2 {
	font-style:italic;
	font-family: Cambria, serif;
	font-size: 30px;
	color: #ff884d;
	background-color:#9fe0bf;
	text-align:center;}
	

	