body {
	font-family: Cambria, serif;
	color: #000000;
	background-color:#ffffff;}
h1 { 
	font-family: impact, sans-serif;
	color: #1f603e;
	background-color:#ffffff;}
h2 {
	font-family:
	color: #ff884d;
	background-color:#ffffff;}
ul {
	background-color: #c6ecd8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;}
li a {
    display: block;
    width: 60px;
    text-align: center
    border-bottom: 1px solid #555;
    
}