body {
	font-family: Cambria, serif;
	color: #000000;
	background-color:#c6ecd8;}
h1 { 
	font-family: impact, sans-serif;
	color: #1f603e;
	background-color:#c6ecd8;}
h2 {
	font-family:
	color: #ff884d;
	background-color:#c6ecd8;}