body {
	text-align : left; 
	}
.right {
    float: right;
    width: 300px;
    border: 3px solid #ff884d;
    padding: 20px;
    position: static;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
body {
	font-size : 18px;}
div.box {
    width:600px;
    margin: auto;
    border: 3px solid #9fe0bf;
    padding-right: 80px;
  
}

h2 {
	text-align: center;}


